{% extends 'base.html' %}

{% block title %}New Group{% endblock %}

{% block content %}
    <div group="{{ group }}" refugees="{{ refugees }}" class="container" id="app">

        {#  FORM TO CREATE GROUP START  #}
        <form v-if="!show_refugees_form" v-on:submit.prevent="submitGroup" id="new-group-form"
              class="w-75 mx-auto mt-5 border-dark border p-2">
            <div class="row text-right">
                {% if editing %}
                    <div class="col">
                        <h1>[[ new_group.name ]]</h1>
                    </div>
                {% else %}
                    <div class="col">
                        <h1>New Group</h1>
                    </div>
                {% endif %}
                <div class="col">
                    <button class="btn text-right btn-success mt-3" type="submit">OK</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <input v-model="new_group.name" type="text" name="name" class="form-control" id="name"
                           aria-describedby="name"
                           placeholder="Name (e.g. Family Braun)" required>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label for="adults">Adults</label>
                    <input v-model="new_group.adults" type="number" min="0" name="adults" class="form-control"
                           id="adults"
                           placeholder="0"
                           required>
                </div>
                <div class="col-md-6">
                    <label for="children">Children</label>
                    <input v-model="new_group.children" type="number" min="0" name="children" class="form-control"
                           id="children"
                           placeholder="0" required>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <input v-model="new_group.wish_city" type="text" name="wish_city" class="form-control"
                           id="wish_city"
                           aria-describedby="wish_city"
                           placeholder="Wish City"/>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                <textarea v-model="new_group.notes" class="form-control" name="notes" id="notes"
                          aria-describedby="notes"
                          placeholder="Notes"></textarea>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button class="btn text-right btn-danger mt-3" type="submit">
                        <a href="/" class="text-decoration-none text-white">Cancel</a>
                    </button>
                </div>
            </div>
        </form>
        {#  FORM TO CREATE GROUP END  #}

        {#  FORM TO CREATE EACH REFUGEE START  #}
        <div v-if="show_refugees_form" id="refugees_form">
            <div class="row align-items-center text-center">
                <div v-if="!editing" class="col">
                    <h1>Family [[ new_group.name ]]</h1>
                </div>
                <div class="col">
                    <button class="btn text-right btn-primary mt-3" @click="show_refugees_form = false">
                        Back
                    </button>
                </div>

            </div>
            <form v-for="(ref, i) in refugees"
                  class="w-75 mx-auto mt-5 border-dark border p-2">
                <div class="row mt-3">
                    <div class="col">
                        <label for="last_name">Last name</label>
                        <input v-model="refugees[i].last_name" type="text" name="last_name" class="form-control"
                               id="last_name"
                               aria-describedby="last_name"
                               placeholder="last name" required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label for="first_name">First name</label>
                        <input v-model="refugees[i].first_name" type="text" name="first_name" class="form-control"
                               id="first_name"
                               aria-describedby="first_name"
                               placeholder="first name" required>
                    </div>
                </div>
                <div class="mt-3 custom-control-inline">
                    <input v-model="refugees[i].gender" type="radio" name="female"
                           id="gender" :checked="refugees[i].gender === 'f'" value="F"
                    >
                    <label class="custom-control-label" for="female">Female</label>
                </div>
                <div class="mt-3 custom-control-inline">
                    <input v-model="refugees[i].gender" type="radio" name="male"
                           id="gender" :checked="refugees[i].gender === 'm'" value="M"
                    >
                    <label class="custom-control-label" for="male">Male</label>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="age">Age</label>
                        <input v-model="refugees[i].age" type="number" min="0" name="age" class="form-control"
                               id="age"
                               placeholder="0"
                               required>
                    </div>
                </div>
                <div class="mt-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" v-model="refugees[i].need_barrier_free"
                               id="check_barrier_fee" required>
                        <label class="form-check-label" for="check_barrier_fee">
                            Disabilities
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" v-model="refugees[i].has_pets" id="check_has_pets"
                               required>
                        <label class="form-check-label" for="check_has_pets">
                            has_pets
                        </label>
                    </div>
                </div>
                <div class="mt-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" v-model="refugees[i].origin_checked"
                               id="origin_checked" required>
                        <label class="form-check-label" for="origin_checked">
                            Origin checked
                        </label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label for="origin">Origin</label>
                        <input v-model="refugees[i].origin" type="text" name="origin" class="form-control" id="origin"
                               aria-describedby="origin"
                               required/>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label for="notes">Contact data</label>
                        <textarea v-model="refugees[i].contact_data" class="form-control" name="contact" id="contact"
                                  aria-describedby="contact"
                                  required></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label for="contact">Notes</label>
                        <textarea v-model="refugees[i].notes" class="form-control" name="notes" id="notes"
                                  aria-describedby="notes"
                                  placeholder="Notes"
                                  required></textarea>
                    </div>
                </div>
            </form>
            {#  FORM TO CREATE EACH REFUGEE END  #}
            <div class="row mt-3 mb-5 align-items-center text-center">
                <div class="col">
                    <button class="btn text-right btn-danger mt-3">
                        <a href="/" class="text-decoration-none text-white">Cancel</a>
                    </button>
                </div>
                <div class="col ml-20">
                    <button class="btn text-right btn-success mt-3" @click="submitRefugees">OK</button>
                </div>
            </div>
        </div>

    </div>
    <script>
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                show_refugees_form: false,
                new_group: {
                    name: '',
                    adults: '',
                    children: '',
                    wish_city: '',
                    notes: '',
                },
                refugees: [],
                editing: false
            },
            beforeMount() {
                const elem = document.getElementById('app')
                try {
                    this.new_group = JSON.parse(elem.getAttribute('group'))
                    this.refugees = this.new_group.refugees
                } catch (e) {
                }
                this.editing = !!this.new_group.id
            },
            methods: {
                concatArrays(adults, children, defaultData) {
                    let adultArray = Array(parseInt(adults)).fill().map((e) => ({...defaultData}))
                    let childrenArray = Array(parseInt(children)).fill().map((e) => ({
                        ...defaultData,
                        age: 12
                    }))
                    this.refugees = [...this.refugees, ...adultArray, ...childrenArray]
                },
                submitGroup() {
                    this.show_refugees_form = true
                    let defaultData = {
                        id: null,
                        last_name: '',
                        first_name: '',
                        gender: 'F',
                        age: 32,
                        need_barrier_free: false,
                        has_pets: false,
                        origin: 'UKRAINE',
                        contact_data: 'phone number DE\n phone number UE\n messenger',
                        notes: '',
                    }
                    if (!this.editing) {
                        this.concatArrays(this.new_group.adults, this.new_group.children, defaultData)
                    }
                    const diffChildren = this.new_group.children - this.refugees.filter((r) => r.age <= 17).length
                    const diffAdults = this.new_group.adults - this.refugees.filter((r) => r.age > 17).length
                    if (diffChildren > 0 || diffAdults > 0) {
                        this.concatArrays(diffAdults, diffChildren, defaultData)
                    }
                },
                submitRefugees() {
                    let payload = {...this.new_group, refugees: this.refugees}
                    fetch(!this.editing ? '/api/groups/' : `/group/${this.new_group.id}`, {
                        method: "POST",
                        headers: {"X-CSRFToken": "{{ csrf_token }}", 'Content-Type': 'application/json'},
                        body: JSON.stringify(payload)
                    }).then((res) => {
                        if (res.ok) {
                            alert(!this.editing ? "Group created" : "Group updated")
                            window.location.href = "/"
                        } else {
                            alert("there was an error")
                        }
                    })
                }
            }
        });
    </script>
{% endblock %}
