{% extends 'base.html' %}

{% block title %}New Group{% endblock %}

{% block content %}
    <div class="container" id="app">

        {#  FORM TO CREATE GROUP START  #}
        <form v-if="!show_refugees_form" v-on:submit.prevent="submitGroup" id="new-group-form"
              class="w-75 mx-auto mt-5 border-dark border p-2">
            <div class="row text-right">
                <div class="col">
                    <h1>New Group</h1>
                </div>
                <div class="col">
                    <button class="btn text-right btn-success mt-3" type="submit">OK</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <input v-model="name" type="text" name="name" class="form-control" id="name" aria-describedby="name"
                           placeholder="Name (e.g. Family Braun)" required>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label for="adults">Adults</label>
                    <input v-model="adults" type="number" name="adults" class="form-control" id="adults" placeholder="0"
                           required>
                </div>
                <div class="col-md-6">
                    <label for="children">Children</label>
                    <input v-model="children" type="number" name="children" class="form-control" id="children"
                           placeholder="0" required>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <input v-model="wish_city" type="text" name="wish_city" class="form-control" id="wish_city"
                           aria-describedby="wish_city"
                           placeholder="Wish City" required/>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                <textarea v-model="notes" class="form-control" name="notes" id="notes" aria-describedby="notes"
                          placeholder="Notes"
                          required></textarea>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button class="btn text-right btn-danger mt-3" type="submit">
                        <a href="/" class="text-decoration-none text-white">Cancel</a>
                    </button>
                </div>
            </div>
        </form>
        {#  FORM TO CREATE GROUP END  #}

        {#  FORM TO CREATE EACH REFUGEE START  #}
        <div v-if="show_refugees_form" id="refugees_form">
            <div class="row text-right">
                <div class="col">
                    <h1>Family [[ new_group.name ]]</h1>
                </div>

            </div>
            <form v-on:submit.prevent="submitRefugees" v-for="(ref, i) in refugees"
                  class="w-75 mx-auto mt-5 border-dark border p-2">
                <div class="col">
                    <button class="btn text-right btn-success mt-3" type="submit">OK</button>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label for="last_name">Last name</label>
                        <input v-model="refugees[i].last_name" type="text" name="last_name" class="form-control"
                               id="last_name"
                               aria-describedby="last_name"
                               placeholder="last_name" required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label for="first_name">First name</label>
                        <input v-model="refugees[i].first_name" type="text" name="first_name" class="form-control"
                               id="first_name"
                               aria-describedby="first_name"
                               placeholder="first_name" required>
                    </div>
                </div>
                <div class="mt-3 custom-control-inline">
                    <input v-model="refugees[i].gender" type="radio" name="female"
                           id="gender" :checked="refugees[i].gender === 'f'" value="F"
                    >
                    <label class="custom-control-label" for="female">Female</label>
                </div>
                <div class="mt-3 custom-control-inline">
                    <input v-model="refugees[i].gender" type="radio" name="male"
                           id="gender" :checked="refugees[i].gender === 'm'" value="M"
                    >
                    <label class="custom-control-label" for="male">Male</label>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label for="origin">Origin</label>
                        <input v-model="refugees[i].origin" type="text" name="origin" class="form-control" id="origin"
                               aria-describedby="origin"
                               required/>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label for="notes">Contact data</label>
                        <textarea v-model="refugees[i].contact_data" class="form-control" name="contact" id="contact"
                                  aria-describedby="contact"
                                  required></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label for="contact">Notes</label>
                        <textarea v-model="refugees[i].notes" class="form-control" name="notes" id="notes"
                                  aria-describedby="notes"
                                  placeholder="Notes"
                                  required></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <button class="btn text-right btn-danger mt-3">
                            <a href="/" class="text-decoration-none text-white">Cancel</a>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        {#  FORM TO CREATE EACH REFUGEE END  #}

    </div>
    <script>
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                name: '',
                adults: '',
                children: '',
                wish_city: '',
                notes: '',
                show_refugees_form: false,
                new_group: {},
                refugees: [],
            },
            methods: {
                submitGroup(submitEvent) {
                    this.new_group = {
                        name: this.name,
                        adults: parseInt(this.adults),
                        children: parseInt(this.children),
                        wish_city: this.wish_city,
                        notes: this.notes,
                    }
                    this.show_refugees_form = true
                    let defaultData = {
                        last_name: '',
                        first_name: '',
                        gender: 'F',
                        age: 32,
                        disabilities: false,
                        pets: false,
                        origin: 'UKRAINE',
                        contact_data: 'phone number DE\n phone number UE\n messenger',
                        notes: '',
                    }
                    let adults = Array(parseInt(this.adults)).fill().map((e) => ({...defaultData}))
                    let children = Array(parseInt(this.children)).fill().map((e) => ({...defaultData, age: 12}))
                    this.refugees = adults.concat(children)
                },
                submitRefugees() {
                    let payload = {...this.new_group, refugees: this.refugees}
                    fetch('/api/groups/', {
                        method: "POST",
                        headers: {"X-CSRFToken": "{{ csrf_token }}", 'Content-Type': 'application/json'},
                        body: JSON.stringify(payload)
                    }).then(() => {
                        alert("Group created")
                        window.location.href = "/"
                    })

                }
            }
        });
    </script>
{% endblock %}