{% extends 'base.html' %}

{% block title %}Groups{% endblock %}

{% block content %}
  <div class="container">
  <div class="row mb-3 mt-3">
      <div class="col">
          <button type="button" class="btn-lg btn-success">
              <a class="text-white text-decoration-none" href="{% url 'add_group' %}">Add</a>
          </button>
      </div>
  </div>
    <div class="row">
      <div class="col-sm-12">
        <table id="table" class="table-responsive-sm table-striped table-bordered" style="width:100%" data-server-side="true" data-ajax="/api/groups/?format=datatables">
          <thead>
            <tr>
              <th data-data="name">Name</th>
              <th data-data="wish_city">Wish City</th>
              <th data-data="num_adults">Adults</th>
              <th data-data="num_children">Children</th>
              <th data-data="url">Link</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <script>
      $(document).ready(function() {
          $('#table').DataTable();

      });
  </script>
{% endblock %}
